@model IList<ProcCore.Business.DB0.News>
@{
    ViewBag.Title = Resources.Web.News;
    ViewBag.BodyClass = "News";
    ViewBag.breadCrumb = Resources.Web.News;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>@Resources.Web.News</h1>
@foreach (var item in Model)
{
    <figure>
        <img src="@item.img_list" alt="@item.news_title">
        <a href="~/News/content?id=@item.news_id">READ MORE</a>
        <figcaption>
            <h4><small>@item.set_date.ToString("yyyy-MM-dd")</small>@item.news_title</h4>
        </figcaption>
    </figure>
}