@model IList<ProcCore.Business.DB0.News>
@{
    ViewBag.Title = Resources.Web.nav_news;
    ViewBag.BodyClass = "News";
    ViewBag.breadCrumb = Resources.Web.nav_news;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>@Resources.Web.nav_news</h1>
<ul class="tabs">
    <li class="active"><a href="">公司消息</a></li>
    <li><a href="">產業新聞</a></li>
</ul>
@foreach (var item in Model)
{
    <figure class="news-list">
        <a href="~/News/content?id=@item.news_id"><img class="news-pic" src="@item.img_list" alt="@item.news_title"></a>
        <figcaption>
            <h4><small>@item.set_date.ToString("yyyy-MM-dd")</small>@item.news_title</h4>
            <a class="more" href="~/News/content?id=@item.news_id">READ MORE</a>
        </figcaption>
    </figure>
}
<nav class="pages">
    @* 當前頁：class=active 沒有 href *@
    <a class="active">1</a>
    <a href="">2</a>
    <a href="" class="back icon-chevron-thin-left" title="上一頁"></a>
    <a href="" class="next icon-chevron-thin-right" title="下一頁"></a>
</nav>