@{
    ViewBag.Title = "Email";
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <title>泓辰網站線上問題回覆 - 聯絡我們</title>
</head>
<body style="font: .8em/140% '微軟正黑體', 'Microsoft JhengHei', Helvetica, sans-serif;">
    <h1 style="font-size:1.5em;">泓辰網站線上問題回覆 - 聯絡我們</h1>
    <table border="1" bordercolor="#ddd" style="border:1px solid #ccc">
        <caption style="background:#FCF8E3; color:#9C7163; font-size:1.2em; font-weight:bold; padding:5px; text-align:center;">
            contact information
        </caption>


        <tr>
            <td style="color:#9C7163; padding:5px; border:1px solid #ccc">聯絡人</td>
            <td style="width:150px; padding:5px; border:1px solid #ccc">@Model.name</td>
        </tr>

        <tr>
            <td style="color:#9C7163; padding:5px; border:1px solid #ccc">公司名稱</td>
            <td style="width:150px; padding:5px; border:1px solid #ccc">@Model.company</td>
        </tr>

        <tr>
            <td style="color:#9C7163; padding:5px; border:1px solid #ccc">聯絡電話</td>
            <td style="width:150px; padding:5px; border:1px solid #ccc">@Model.tel</td>
        </tr>
        <tr>
            <td style="color:#9C7163; padding:5px; border:1px solid #ccc">聯絡傳真</td>
            <td style="width:150px; padding:5px; border:1px solid #ccc">@Model.fax</td>
        </tr>
        <tr>
            <td style="color:#9C7163; padding:5px; border:1px solid #ccc">城市</td>
            <td style="width:150px; padding:5px; border:1px solid #ccc">@Model.city</td>
        </tr>
        <tr>
            <td style="color:#9C7163; padding:5px; border:1px solid #ccc">E-mail</td>
            <td style="width:150px; padding:5px; border:1px solid #ccc">@Model.email</td>
        </tr>
        <tr>
            <td style="color:#9C7163; padding:5px; border:1px solid #ccc">Content</td>
            <td style="width:500px; height:100px; word-break:break-all; height:100px; padding:5px; border:1px solid #ccc">
                @Html.Raw(Model.content.Replace("\n", "<br/>"))
            </td>
        </tr>
    </table>
</body>
</html>

