
@{
    ViewBag.Title = @Resources.Web.products_item4 + @Resources.Web.nav_products;
    ViewBag.BodyClass = "Products";
    ViewBag.breadCrumb = @Resources.Web.products_item4;
    ViewBag.ProNav4Class = "current";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}
@section breadCrumb {
    <li><a href="~/Products">@Resources.Web.nav_products</a></li>
}

@Html.Partial("sidebar")

<h2 class="text-left">@Resources.Web.products_item4</h2>
<img src="~/Content/images/Products/Build/pic-EN.jpg" alt="Performance Progress Chart">

<hr>

<h2 class="text-left">Next Generation LMFP Comparison Table</h2>
<div class="table-rwd">
    <table class="full">
        <caption class="text-center">
            <span class="label">G2P : Power type</span>
            <span class="label">G2E : Energy type</span>
        </caption>
        <tbody class="borded">
            <tr>
                <th rowspan="2" class="diagonal">
                    <sup>Material System</sup>
                    <sub><span>Performance<br>Characteristics</span></sub>
                </th>
                <th>G1</th>
                <th colspan="2">G2P G2E</th>
            </tr>
            <tr>
                <td class="item mark">G1</td>
                @* <td class="item mark">G2</td> *@
                <td class="item mark">G2P</td>
                <td class="item mark">G2E</td>
            </tr>
            <tr>
                <td class="item mark">Energy Density</td>
                @* <td><i class="icon-triangle">triangle</i></td> *@
                <td><i class="icon-circle">circle</i></td>
                <td><i class="icon-circle">circle</i></td>
                <td><i class="icon-circle-d">2circle</i></td>
            </tr>
            <tr>
                <td class="item mark">Discharge Rate</td>
                @* <td><i class="icon-circle">circle</i></td> *@
                <td><i class="icon-circle-d">2circle</i></td>
                <td><i class="icon-circle-d">2circle</i></td>
                <td><i class="icon-circle-d">2circle</i></td>
            </tr>
            <tr>
                <td class="item mark">Charge Rate</td>
                @* <td><i class="icon-triangle">triangle</i></td> *@
                <td><i class="icon-circle">circle</i></td>
                <td><i class="icon-circle-d">2circle</i></td>
                <td><i class="icon-circle">circle</i></td>
            </tr>
            <tr>
                <td class="item mark">High Temperature Cycle Life</td>
                @* <td><i class="icon-triangle">triangle</i></td> *@
                <td><i class="icon-circle">circle</i></td>
                <td><i class="icon-circle">circle</i></td>
                <td><i class="icon-circle-d">2circle</i></td>
            </tr>
            <tr>
                <td class="item mark">Low-Temperature Discharge Rate</td>
                @* <td><i class="icon-triangle">triangle</i></td> *@
                <td><i class="icon-triangle">triangle</i></td>
                <td><i class="icon-circle-d">2circle</i></td>
                <td><i class="icon-circle">circle</i></td>
            </tr>
            <tr>
                <td class="item mark">Anti-Hygroscopicity</td>
                @* <td><i class="icon-triangle">triangle</i></td> *@
                <td><i class="icon-triangle">triangle</i></td>
                <td><i class="icon-triangle">triangle</i></td>
                <td><i class="icon-circle">circle</i></td>
            </tr>
        </tbody>
        <tfoot>
            <td></td>
            <td colspan="3" class="text-right">
                Comparative Advantage: <i class="icon-circle-d">2circle</i> > <i class="icon-circle">circle</i> > <i class="icon-triangle">triangle</i>
            </td>
        </tfoot>
    </table>
</div>
