
@{
    ViewBag.Title = @Resources.Web.products_item2 + @Resources.Web.nav_products;
    ViewBag.BodyClass = "Products";
    ViewBag.breadCrumb = @Resources.Web.products_item2;
    ViewBag.ProNav2Class = "current";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}
@section breadCrumb {
    <li><a href="~/Products">@Resources.Web.nav_products</a></li>
}


@Html.Partial("sidebar")

<h2 class="text-left clear">LMFP Features</h2>
<article class="row-padding">
    <div class="col-6 col-xs-12 col-lg-3 margin-bottom">
        <h5>Secondary particle spheroidization (easy to pile up)</h5>
        <img src="~/Content/images/Products/Tech/pic.jpg" alt="Secondary particle spheroidization (easy to pile up)">
    </div>
    <div class="col-6 col-xs-12 col-lg-3 margin-bottom">
        <h5>One-time nanostructure (short distance of electricity/mass transmission)</h5>
        <img src="~/Content/images/Products/Tech/pic_2.jpg" alt="One-time nanostructure (short distance of electricity/mass transmission)">
    </div>
    <div class="col-6 col-xs-12 col-lg-3 margin-bottom">
        <h5>High uniformity carbon coating (good conductivity)</h5>
        <img src="~/Content/images/Products/Tech/pic_3.jpg" alt="High uniformity carbon coating (good conductivity)">
    </div>
    <div class="col-6 col-xs-12 col-lg-3 margin-bottom">
        <h5>Pore structure (good ion diffusion)</h5>
        <img src="~/Content/images/Products/Tech/pic_4.jpg" alt="Pore structure (good ion diffusion)">
    </div>
</article>

<hr>

<h2 class="text-left clear">Comparison of cathode materials</h2>
<article class="text-left">

    <div class="table-rwd">
        <table class="full text-center borded">
            <tr>
                <th rowspan="2">Structure</th>
                <th colspan="2">Structure   Layer</th>
                <th>Spinel</th>
                <th colspan="2">Olivine</th>
            </tr>
            <tr>
                <td class="item">LCoO<sub>2</sub></td>
                <td class="item">NCM</td>
                <td class="item">LiMn<sub>2</sub>O<sub>4</sub></td>
                <td class="item">LiFePO<sub>4</sub></td>
                <td class="item mark">LiMnFePO<sub>4</sub></td>
            </tr>
            <tr>
                <td class="item">Volt</td>
                <td colspan="2">3.6~3.7</td>
                <td>3.8</td>
                <td>3.4</td>
                <td class="text-error mark">3.8~3.9</td>
            </tr>
            <tr>
                <td class="item">mAh/g</td>
                <td>140~160</td>
                <td class="text-error">160~190</td>
                <td>110~120</td>
                <td>150~160</td>
                <td class="mark">150~155</td>
            </tr>
            <tr>
                <td class="item">Safety</td>
                <td><i class="icon-triangle">triangle</i></td>
                <td><i class="icon-cross-img">cross</i></td>
                <td><i class="icon-circle">circle</i></td>
                <td class="text-error"><i class="icon-circle-d">2circle</i></td>
                <td class="text-error mark"><i class="icon-circle-d">2circle</i></td>
            </tr>
            <tr>
                <td class="item">High Temperature Characteristics</td>
                <td><i class="icon-triangle">triangle</i></td>
                <td><i class="icon-triangle">triangle</i></td>
                <td><i class="icon-cross-img">cross</i><i class="icon-cross-img">cross</i></td>
                <td><i class="icon-circle">circle</i></td>
                <td class="mark"><i class="icon-circle">circle</i></td>
            </tr>
            <tr>
                <td class="item">Low Temperature Characteristics</td>
                <td><i class="icon-cross-img">cross</i></td>
                <td><i class="icon-triangle">triangle</i></td>
                <td><i class="icon-circle">circle</i></td>
                <td class="bg-gray"><i class="icon-circle-d">2circle</i></td>
                <td class="text-error mark"><i class="icon-circle-d">2circle</i></td>
            </tr>
            <tr>
                <td class="item">Cycle</td>
                <td>1000</td>
                <td>1200</td>
                <td>1200</td>
                <td class="text-error">>2000</td>
                <td class="mark">>1500</td>
            </tr>
            <tr>
                <td class="item">Large Current Discharge</td>
                <td><i class="icon-cross-img">cross</i></td>
                <td><i class="icon-triangle">triangle</i></td>
                <td class="text-warn"><i class="icon-circle-d text-error">2circle</i></td>
                <td><i class="icon-circle">circle</i></td>
                <td class="mark"><i class="icon-circle">circle</i></td>
            </tr>
            <tr>
                <td class="item">Material Cost</td>
                <td colspan="2">High</td>
                <td>Low</td>
                <td colspan="2" class="text-error">Low</td>
            </tr>
        </table>
    </div>

    <h3>High-Voltage LMFP Advantages:</h3>
    <ul class="list-dot">
        <li>Increased Energy Density</li>
        <li>Reduced Number of Pack Concatenations</li>
        <li>Can Be Used on Existing Battery Management System</li>
    </ul>
</article>