
@{
    ViewBag.Title = @Resources.Web.products_item3 + @Resources.Web.nav_products;
    ViewBag.BodyClass = "Products";
    ViewBag.breadCrumb = @Resources.Web.products_item3;
    ViewBag.ProNav3Class = "current";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}

@section breadCrumb {
    <li><a href="~/Products">@Resources.Web.nav_products</a></li>
}

@Html.Partial("sidebar")

<h2 class="text-left">@Resources.Web.products_item3</h2>

<div class="text-left margin-bottom">
    <h3>Application 1:</h3>
    <h5>Blended with NMC to significantly increase safety and is suitable for passenger cars.</h5>
    <img src="~/Content/images/Products/Trend/pic.jpg" alt="Soft pack battery safety test">
    <footer class="text-right text-primary margin-top">Soft pack battery safety test <small>Data materials: China Aviation Lithium Battery Co., Ltd</small></footer>

    <hr class="line">

    <h3>Application 2:</h3>
    <h5>NMC+LMFP/LTO Battery:</h5>
    <h5>It can charge up to 90% in 6 minutes by 10C.</h5>
    <img src="~/Content/images/Products/Trend/pic2ne.jpg" alt="Suzuki station wagon adopts Toshiba SCiB LTO battery">
    <p>Pack 1.0~1.5kWh cell module for E-scooter application</p>
</div>

<hr class="line">

<h3 class="text-left">Application 3:</h3>
<h5 class="text-left">LMFP+LTO : With high safety and long life, LMFP-LTO cells are considered the optimal choice for energy storage system (ESS) application.</h5>
    <img src="~/Content/images/Products/Trend/pic3ne.jpg" alt="Suzuki station wagon adopts Toshiba SCiB LTO battery">  <p> The 57th Battery Symposium in Japan in November 2016</p>

</ul>