
@{
    ViewBag.Title = @Resources.Web.products_item3 + @Resources.Web.nav_products;
    ViewBag.BodyClass = "Products";
    ViewBag.breadCrumb = @Resources.Web.products_item3;
    ViewBag.ProNav3Class = "current";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}

@section breadCrumb {
    <li><a href="~/Products">@Resources.Web.nav_products</a></li>
}

@Html.Partial("sidebar")

<h2 class="text-left">@Resources.Web.products_item3</h2>

<div class="text-left margin-bottom">
    <h3>Application 1:</h3>
    <h5>Blended with NMC to significantly increase safety and is suitable for passenger cars.</h5>
    <img src="~/Content/images/Products/Trend/pic.jpg" alt="Soft pack battery safety test">
    <footer class="text-right text-primary margin-top">Soft pack battery safety test <small>Data materials: China Aviation Lithium Battery Co., Ltd</small></footer>

    <hr class="line">

    <h3>Application 2:</h3>
    <h5>Idle Start and Stop System (ISS)</h5>
    <img src="~/Content/images/Products/Trend/pic2.jpg" alt="Suzuki station wagon adopts Toshiba SCiB LTO battery">
    <p>Japan's Suzuki station wagon adopts Denso ISS system consisting of Toshiba's SCiB LTO battery</p>
</div>

<hr class="line">

<h3 class="text-left">Application 3:</h3>
<h5 class="text-left">Use LMFP as the main cathode material, mixed with NMC, to replace LFP -based bus market</h5>
<ul class="list-unstyled row-padding">
    <li class="col-6 col-sm-12 margin-bottom"><img src="~/Content/images/Products/Trend/pic3.jpg" alt="Large bus"></li>
    <li class="col-6 col-sm-12"><img src="~/Content/images/Products/Trend/pic3_2.jpg" alt="Large bus battery system"></li>
</ul>