
@{
    ViewBag.Title = Resources.Web.nav_joinus;
    ViewBag.BodyClass = "JoinUs";
    ViewBag.breadCrumb = Resources.Web.nav_joinus;
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}

<ul class="tabs">
    <li class="js-tab"><a href="#tab-1">@Resources.Web.joinus_item1</a></li>
    <li class="js-tab"><a href="#tab-2">@Resources.Web.joinus_item2</a></li>
    <li><a href="https://www.104.com.tw/company/5x4pqqg?jobsource=checkc" target="_blank">@Resources.Web.joinus_item3</a></li>
</ul>

<article id="tab-1" class="tab-content">
    <h2>@Resources.Web.joinus_item1</h2>
    <div class="col-4 col-sm-12 col-pd-right margin-bottom">
        <h4 class="text-error">薪獎制度</h4>
        <ol class="list-dot">
            <li>依據公司年度獲利狀況、個人績效及組織目標達成率發放年終獎金。</li>
            <li>依據公司年度獲利狀況及個人績效進行年度調薪。</li>
            <li></li>
        </ol>
    </div>
    <div class="col-4 col-sm-12 col-pd margin-bottom">
        <h4 class="text-error">福利補助</h4>
        <ol class="list-dot">
           <li>年節發放勞動節、端午節、中秋節禮金或禮品。</li>
           <li>婚賀、喪奠、生育補助。</li>
           <li>團體旅遊或員工旅遊津貼。</li>
        </ol>
    </div>
    <div class="col-4 col-sm-12 col-pd-left margin-bottom">
        <h4 class="text-error">年度活動</h4>
        <ol class="list-dot">
            <li>年度目標會議與聖誕大餐共同舉辦。</li>
            <li>歲末年終舉辦尾牙旺年餐會，全體同仁摸彩同歡。</li>
            <li>定期公司聚餐活動。</li>
            <li>每年定期員工健康檢查。</li>
        </ol>
    </div>

    <h4 class="text-error">保險制度</h4>
    <ol class="list-dot margin-bottom">
        <li>勞工保險。</li>
        <li>全民健康保險。</li>
        <li>員工團體保險：包含定期壽險、意外傷害險、重大燒燙傷、傷害醫療險、傷害住院日額、住院醫療定額險、職業災害險。</li>
        <li>眷屬優惠團險：提供團保優惠價格開放眷屬投保，對象包含父母、配偶、子女。</li>
    </ol>

    <h4 class="text-error">其他福利</h4>
    <ol class="list-dot">
        <li>特約商店優惠折扣。</li>
        <li>彈性上下班(常日班)。</li>
        <li>提供工作制服。</li>
    </ol>
</article>

<article id="tab-2" class="tab-content">
    <h2>@Resources.Web.joinus_item2</h2>
    @* <ol class="list-dot">
        <li>健康檢查: 泓辰重視每位員工健康況狀, 每年提供員工一次團體檢康檢查。</li>
        <li>勞工安全衛生教育</li>
        <li>消防演練及緊急應變</li>
        <li>泓辰福利網: 與Payeasy網路平台合作,內容包括特約商店、購物訊息、旅遊專區、福利網兌換專區，將福利補助金額變成福利點數，藉著購物網站的平台及資源，增加商品的多樣性，方便同仁個人化操作及自由地選擇兌換商品，進而提高福利補助之價值。</li>
        <li>在泓辰大家庭下, 工作上得到成長、成就感外, 公司定期舉辦月活動、季活動及家庭日等活動。促進同事間情誼, 工作後的室內、 戶外休閒娛樂使每位泓辰人都能快樂工作。福委會的宗旨在於實現幸福企業的夢想。</li>
    </ol> *@
    @* <ul class="pic-list-half">
        <li class="title">開幕典禮</li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1.jpg"></li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-2.jpg"></li>
    </ul> *@

    @* 圖片尺寸 w335 x h235 *@
    <ul class="pic-list-half">
        <li class="title">年度體檢</li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-3.jpg"></li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-4.jpg"></li>
    </ul>
    <ul class="pic-list-half">
        <li class="title">年度目標會議</li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-5.jpg"></li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-6.jpg"></li>
    </ul>
    <ul class="pic-list-half">
        <li class="title">聖誕大餐</li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-9.jpg"></li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-10.jpg"></li>
    </ul>
    <ul class="pic-list-half">
        <li class="title">尾牙旺年餐會</li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-7.jpg"></li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-8.jpg"></li>
    </ul>
    <ul class="pic-list-half">
        <li class="title">聚餐活動</li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-11.jpg"></li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-12.jpg"></li>
    </ul>
    <ul class="pic-list-half">
        <li class="title">中秋烤肉活動</li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-13.jpg"></li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-14.jpg"></li>
    </ul>
</article>

@* <article id="tab-3" class="tab-content">
    <h2>社團</h2>
    <p> 為培養同仁身心健康，健康娛樂本公司目前有籃球社、羽球社、登山社及慢跑社， 不定期舉辦球賽與活動。尚有腳踏車社、壘球社、積極籌備中。</p>
    <ul class="pic-list">
        <li><img src="~/Content/images/JoinUs/pic3-1.jpg"><span>羽球社</span></li>
        <li><img src="~/Content/images/JoinUs/pic3-2.jpg"><span>羽球社</span></li>
        <li><img src="~/Content/images/JoinUs/pic3-3.jpg"><span>藍球社</span></li>
        <li><img src="~/Content/images/JoinUs/pic3-4.jpg"><span>藍球社</span></li>
        <li><img src="~/Content/images/JoinUs/pic3-5.jpg"><span>登山社</span></li>
        <li><img src="~/Content/images/JoinUs/pic3-6.jpg"><span>登山社</span></li>
    </ul>
</article> *@