
@{
    ViewBag.Title = Resources.Web.nav_joinus;
    ViewBag.BodyClass = "JoinUs";
    ViewBag.breadCrumb = Resources.Web.nav_joinus;
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}

<ul class="tabs">
    <li class="js-tab"><a href="#tab-1">@Resources.Web.joinus_item1</a></li>
    <li class="js-tab"><a href="#tab-2">@Resources.Web.joinus_item2</a></li>
    <li><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=553f4770393b436c35373f683d433b1e12e2e2e71464b592634j53&jobsource=checkc" target="_blank">@Resources.Web.joinus_item3</a></li>
</ul>

<article id="tab-1" class="tab-content">
    <h2>@Resources.Web.joinus_item1</h2>
    <div class="col-4 col-sm-12 col-pd-right margin-bottom">
        <h4 class="text-error">Salary & Bonus System</h4>
        <ol class="list-dot">
            <li>The year-end bonuses are issued based on the company's annual profitability, personal performance, and achievement of organizational goals.</li>
            <li>Annual salary increases are based on the company's annual profitability and personal performance.</li>
            <li>Research and development patent bonuses</li>
        </ol>
    </div>
    <div class="col-4 col-sm-12 col-pd margin-bottom">
        <h4 class="text-error">Welfare Benefits</h4>
        <ol class="list-dot">
           <li>On Labor Day, Dragon Boat Festival, Mid-Autumn Festival, gifts or cash will be issued.</li>
           <li>Marriage, funeral and childbirth subsidy</li>
           <li>Group tours or employee travel allowances</li>
        </ol>
    </div>
    <div class="col-4 col-sm-12 col-pd-left margin-bottom">
        <h4 class="text-error">Annual Event</h4>
        <ol class="list-dot">
            <li>The annual target conference is co-hosted with the Christmas dinner.</li>
            <li>An annual dinner party and lucky draw will be held at the end of the year.</li>
            <li>Regular company dinner gatherings</li>
            <li>Regular employee health checks every year</li>
        </ol>
    </div>

    <h4 class="text-error">Insurance system</h4>
    <ol class="list-dot margin-bottom">
        <li>Labor insurance</li>
        <li>National Health Insurance</li>
        <li>Employee group insurance: including term life insurance, accidental injury insurance, major burns, medical insurancefor injury, hospitalizationfor injury, hospitalization insurance, and occupational hazard insurance.</li>
        <li>Affiliation discount group insurance: to provide a group discount insurance price for parents, spouse and children of the employees.</li>
    </ol>

    <h4 class="text-error">Other Benefits</h4>
    <ol class="list-dot">
        <li>Special store discounts</li>
        <li>Association subsidy: encourage employees to form various types of associations to promote positive interactions among colleagues.</li>
        <li>After the trial period, an 8-hour vacation leave is provided every year to encourage employees to arrange family leisure travel.</li>
        <li>Flexible work time (weekday shift).</li>
        <li>Provide uniforms.</li>
    </ol>
</article>

<article id="tab-2" class="tab-content">
    <h2>@Resources.Web.joinus_item2</h2>

    @* 圖片尺寸 w335 x h235 *@
    <ul class="pic-list-half">
        <li class="title">Annual physical examination</li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-3.jpg"></li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-4.jpg"></li>
    </ul>
    <ul class="pic-list-half">
        <li class="title">Annual goal meeting</li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-5.jpg"></li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-6.jpg"></li>
    </ul>
    <ul class="pic-list-half">
        <li class="title">Christmas meal</li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-9.jpg"></li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-10.jpg"></li>
    </ul>
    <ul class="pic-list-half">
        <li class="title">Year-endgathering</li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-7.jpg"></li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-8.jpg"></li>
    </ul>
    <ul class="pic-list-half">
        <li class="title">Gathering activities</li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-11.jpg"></li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-12.jpg"></li>
    </ul>
    <ul class="pic-list-half">
        <li class="title">Semi-annual goal meeting</li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-13.jpg"></li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-14.jpg"></li>
    </ul>
</article>